body {
    margin-top: 70px;
}

/* little hack to make the top nav links behave more like you would expect them to */
.navbar-nav > li > a {
    cursor: pointer;
}

.navbar-nav > li.active > a {
    cursor: default;
}

/* change the checkbox to something a little less ugly*/
.glyphicon:before {
    visibility: visible;
    cursor: pointer;
}

.glyphicon.glyphicon-unchecked:checked:before {
    content: "\e067";
}

input[type=checkbox].glyphicon {
    visibility: hidden;
}

/* clean up the iframe */
iframe {
    border-radius: 8px;
}

/* seperate the footer a little */
footer {
    padding-top: 10px;
}

/* remove pointer from checkboxes in items list */
table > tbody > tr > td > span.glyphicon:before {
    cursor: default;
}

/* display intuitive pointer for wbs list items */
.item-detail-link {
    cursor: pointer;
}