<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                {{#link-to 'index' tagName='li' href=false}}
                    <a {{bind-attr href='view.href'}}>Home</a>
                {{/link-to}}
                {{#link-to 'items.index' tagName='li' href=false}}
                    <a {{bind-attr href='view.href'}}>WBS Items</a>
                {{/link-to}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>

<main class="container">
    {{outlet}}
</main>

<footer class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img class="skunk-logo" src="/resources/PepeLePew.png">
            <p>&copy;2014 Esri Skonkwerks</p>
        </div>
    </div>
</footer>