<div class="row">
    <div class="col-sm-3">Content Area</div>
    <div class="col-sm-9">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="www.selfservice.esri.com/etc/cfdocs/login.cfm"
                    class="embed-responsive-item"></iframe>

        </div>
    </div>
</div>

